
/* creating base grid for the pages */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "body"
    "footer";
    gap: 3px;
    padding: 5px;
    max-width: 1000px;
    margin: auto;
    
}
.container div {
    padding: 10px;
}
.container div.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
.container div.body {
    grid-area: body;
}
.container div.footer {
    grid-area: footer;
    text-align: right;  
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.book-display{
    text-align: center; 
}
.controls{
    display: flex;
    justify-content: center;
}


/* setting base fonts for the text types (via google fonts and adobe) */
h1 {
    font-family: "barber-outline", "Bungee Outline", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
    line-height: 80%;
    margin-bottom: 0px;
}
h2 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    line-height: 80%;
    margin-bottom: 0px;
}
h3 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}
h4 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}
p, a {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
   text-decoration: none;
}


/* navigation styling */
.navCurrent:hover, .navObject:hover, .navName:hover{
    color: #99DAFF;
}
.navName {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.navObject {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
}
.navCurrent {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #00AD8E;
}
/* footer styling */
.footer:hover{
    color: #99DAFF;
}


#btnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}
.btn {
border: 3px solid #99daff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 25px;
    align-items: center;
    flex-basis: calc(30% - 5px);
}
.btn:hover {
  background-color: #99daff;
  font-weight: bold;
}
.btn.active {
  background-color: #99daff;
  color: white;
  font-weight: bold;
}




/* about page */
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("images/dotombreCombo.png");
    background-position: 5% 5%;
    background-size: 600px;
    background-repeat: no-repeat;
}
.aboutBody{
    justify-content: end;
}
.aboutCopy{
    margin-top: 60px;
    margin-bottom: 25px;
}
.butt{
    display: flex;
    justify-content: center;
}
/* resume button on homepage */
.resumeBut:link {
    margin: 10px;
    color: white;
    background-color: #FF8234;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #FF8234;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
.resumeBut:visited {
    color: white;
}
.resumeBut:hover {
    color: #FF8234;
    background-color: white;
    border: 3px solid #FF8234;
    padding: 7px;
    padding-left: 47px;
    padding-right: 47px;
}
.resumeBut:active {
    font-weight: bold;
}
/* styling for the my skills section */
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 0px;
    height: 250px;
    color: white;
    border-radius: 25px;
    background-image: radial-gradient(circle, #00AD8E, #99daff);
}
.skillBut{
    border: 3px solid #99daff;
    border-radius: 15px;
    color: white;
    text-align: center;
    align-content: center;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
}
.skillBut:hover{
    font-size: 1.1em;
}
#skillsTitle{
    padding: 15px;
    text-align: right;
}
/* styling for the select projects section */
.selectProjSection{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
    padding: 5px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    justify-content: space-between;
}
.selectTitle{
    width: 100%;
    justify-self: end;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 50px;
}
.selectProject{
  display: flex;
  height: 350px;
  width: 275px;
  border: 1px solid black;
}


/* project repo pages - product and web*/
.repoContent{
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* background image pizzazz styling */
    background-image: url("images/ombre.png");
    background-position: 35% 10%;
    background-size: 400px;
    background-repeat: no-repeat;
}
.pageCopy{
    text-align: right;
}
.projectTitle{
    display: flex;
    align-items: center;
}
.introText{
    padding-left: 10px;
}
.projectSection{
    margin-top: 50px;
}
.projectSection img{
    max-width: 400px;
    max-height: 500px;
    padding-bottom: 30px;
}
.projTitle h3{
    margin-top: 10px;
}

/* project pages */
.projectContent{
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* background image pizzazz styling */
    background-image: url("images/orangeDots.png");
    margin-top: 40px;
    background-position: 40% 0%;
    background-size: 250px;
    background-repeat: no-repeat;
}

/* fine art page */
.sampleWorks{
    padding-top: 100px;
    color: white;
    border-radius: 25px;
    background-image: radial-gradient(circle, #00AD8E, #99daff);
}
.fineProjects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
.fineProjects img{
    max-width: 450px;
    padding-left: 10px;
}
.fineSingle{
    padding: 10px;
}
.fineDesc p{
    border-top: solid 1px white;
}
#sampleWorkTitle{
    padding: 30px;
}



/* styling for titles/orange dots in the project names */
.projectTitle{
    color: black;
    align-self: end;
}
.orangeDot{
    background-color:#FF8234;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}
.projectSingle:hover .orangeDot{
    background-color: transparent;
    height: 15px;
    width: 15px;
    border: 3px solid #FF8234;
}
.projectSingle:hover .projectTitle{
    color:#FF8234;
}
.projectDesc{
    color: black;
    margin-bottom: 30px;
}


/* styling for select projects on the home page*/
.select{
    background-image: url("images/dotombreTogether.png");
    background-position: 0% 40%;
    background-size: 1000px;
    background-repeat: no-repeat;
}
.selectProject{
    border: 0;
}
.selectProject .projectTitle{
    visibility: hidden;
}
.selectProject:hover .orangeDot{
    background-color: transparent;
    height: 15px;
    width: 15px;
    border: 3px solid #FF8234;
}
.selectProject:hover .projectTitle{
    visibility: visible;
    color:#FF8234;
}
/* background images for each project on the home page */
#selectProject1{
    background-image: url("images/dragon.png");
    background-size: cover;
    background-position: center;
}
#selectProject2{
    background-image: url("images/hjerte.png");
    background-size: cover;
    background-position: center;
}
#selectProject3{
    background-image: url("images/glass.png");
    background-size: cover;
    background-position: center;
}












/* body {
  background-color: black;
  height: 100vh;
  margin: 0rem;
  overflow: hidden; 
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  white-space: nowrap;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  margin: 0rem;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 3;
} */


/* thesis page */
.book-container{
    margin: 10px;
    margin-top: 40px;
}



/* fine art page */
.sampleWorks{
    padding-top: 100px;
    color: white;
    border-radius: 25px;
    background-image: radial-gradient(circle, #00AD8E, #99daff);
}
.fineProjects, #fineProjects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
/* .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
} */
.fineProjects img{
    max-width: 450px;
    padding-left: 10px;
}
.fineSingle{
    padding: 10px;
}
.fineDesc p{
    border-top: solid 1px white;
}
#sampleWorkTitle{
    padding: 30px;
}
.templateImage{
    max-width: 400px;
}

.title{
    color: white;
}